<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>jade模板</title>
</head>
<body>
<div>我今天中了双色球<%= num %>等奖。。。</div>
<ul>
    <%
    for (var i = 0; i < list.length; i++) {
    if(list[i].age < 20){
    %>
    <li>
        <span style="color:red;"><%= list[i].name %></span>
        <span style="color:blue;"><%= list[i].age %></span>
    </li>
    <%
    }
    }
    %>
</ul>

</body>
</html>