<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
</head>
<body>

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button class="navbar-toggle collapsed" type="button" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapsed-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">所有相册</a>
        </div>

        <div id="bs-example-navbar-collapse-1" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active">
                    <a href="/up">上传按钮 <span class="sr-only">(current)</span></a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <form method="post" action="#" enctype="multipart/form-data">
        <div class="form-group">
            <label for="exampleInputPassword1">选择文件夹</label>
            <select class="form-control" name="folderName">
                <% for(var i = 0; i < allAlbums.length; i++){ %>
                    <option><%= allAlbums[i] %></option>
                <% } %>
            </select>
        </div>
        <div class="form-group">
            <label for="exampleInputFile">选择照片</label>
            <input type="file" name="uploadfile">
            <p class="help-block">禁止非法上传。</p>
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>
</div>

<script src="js/jquery-3.0.0.js"></script>
<script src="js/bootstrap.min.js"></script>
</body>
</html>
