<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>表单</title>
</head>
<body>

<h1>管理系统--添加页</h1>
<form action="/doAdd" method="get">
    <p>学号：<input type="text" name="sid"></p>
    <p>姓名：<input type="text" name="name"></p>
    <p>年龄：<input type="text" name="age"></p>
    <p>性别：
        <label for="">男<input type="radio" value="男" name="sex"></label>
        <label for="">女<input type="radio" value="女" name="sex"></label>
    </p>
    <p>
        课程：
        <% for(var i = 0; i < allCourse.length; i++){ %>
        <label><%= allCourse[i].name %>
            <input type="checkbox" value="<%= allCourse[i].cid %>" name="association">
        </label>
        <%}%>
    </p>
    <p><input type="submit" class="btn btn-default" value="提交"></p>
</form>

</body>
</html>